@import "variables.scss";
.footer {
    background: hsl(200, 21%, 28%);
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer__text {
    font-size: 1.5rem;
    color: rgb(206, 206, 206);
}