@import "variables.scss";

@import "mixins.scss";

body {
  padding: 0rem;
  margin: 0rem;
  background: #e9ebee;
  overflow-y: scroll;
}

* {
  margin: 0rem;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Merienda", cursive;
}

html {
  font-family: "Montserrat", sans-serif !important;
  font-size: 10px;
}

a {
  text-decoration: none;
}

@import "navbar.scss";
@import "post.scss";
@import "edit.scss";
.button {
  border: none;
  outline: none;
  color: $white;
  background: #e2e2e2;
  margin: 0rem;
  padding: 0.81rem 4rem;
  cursor: pointer;
  
  font-weight: 600;
}
.button--clear{
  border: none;
  background: none;
  padding: 0rem;
  margin: 0rem;
  outline: none;
  cursor: pointer;
}
.button--delete{
background: none;
font-weight: 600;
padding: .2rem;
border: none;

&:hover{
  text-decoration: underline;
}
}
.register-form__header {
  color:  hsl(0, 0%, 100%);
  font-size: 3.5rem;
  margin-bottom: 1rem;
}


.searched-user__image{
  height: 10vh;
}
//#E9EBEE
//#E9EBEE
.login-main {
  
  display: flex;
  justify-content: space-evenly;
  background: #ebebeb;

  height: 83vh;
  align-items: center;
}
button{
  display: flex;
  align-items: center;
}
.button--logout{
  font-size: 2.2rem;
  font-weight: 500;
  background: hsl(201, 20%, 54%);
  // padding: 1.5rem 2.5rem;
  color: $white;
}
.button--login{
  align-self: flex-end;
}

.register-form {
  //align-self: flex-start;
  //margin-top: 15vh;¨
  position: relative;
  background: hsl(201, 74%, 35%);
  height: 83vh;
  padding: 5vw;
}

.register-form__label {
  font-size: 2.2rem;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
}

.register-form__input {
  font-size: 2rem;
}
.button--secondary{
  background: $secondary-button-color;

}
.button--select{
  // background: #002133;
  background: hsl(201, 19%, 70);
  color: $white;
  font-size: 2rem;
  font-weight: 600;
  // border: 3px solid red;
  padding: .8rem 1.6rem;
  align-self: flex-start;
}
.button--primary {
  background: $primary-button-color;
}
.register-form__display-img{
  height: 25vh;
  width: 25vh;
  margin-top: 1rem;
  opacity: .65;
  // align-self: center;
}
.button--register {
  font-size: 3rem;
  padding: 1rem 2rem;
  box-shadow: 0 1rem 2rem hsla(0, 0%, 0%, 0.212), 0 .6rem .6rem hsla(0, 0%, 0%, 0.212);
  margin-top: 2rem;
  justify-self: center;
  background:hsl(200, 95%, 15%)
}
.material-icons{
}
.search-form__input {
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
}
.button--search {
  font-size: 2.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;

}

.search-form {
  display: flex;
}
@keyframes textError{
  0%{
    transform: translateX(-70px);
  }
  20%{
    transform: translateX(70px);
  }
  30%{
    transform: translateX(0px);

  }
  75%{
    opacity: 1;

  }
  100%{
opacity: 0;
  }
}

.button--add-friend{
background: #83afc7;
color: white;
padding: .5rem 1rem;
&:hover{
  background: #5a8da9;
}
}
.searched-user__befreind-icon{
  font-size: 3rem;
  
}

.error{
  top: 100%;
  z-index: 100;
  left: 0%;
  font-size: 2rem;
  background: #f14141af;
  padding: .5rem;
  color: $white;
  position: absolute;
  animation: textError 3s ease forwards;
}

@import "footer.scss";

.logged-wrapper {
  width: 80%;
  max-width: 100%;

  margin: auto;
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
}



.user-info{
margin: 2rem 0rem;
}
.user-info__header{
  font-size: 1.8rem;
}
.user-info__text{
  font-size: 1.4rem;
}
.user-profile {
  background: #f6f6f6;
  width: 22%;
  height: 75vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19);
}

.user {
  height: 45%;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.more--post{
  align-self: center;
}





@import "more.scss";


.user__header {
  font-size: 4rem;
  font-weight: 600;
  color: $black;
}

.user__image {
  height: 65%;
  border-radius: 12rem;
  // border: .5rem solid hsl(201,20%,20%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19),0 5px 10px rgba(0, 0, 0, 0.19) ;
}

.friends {
  font-size: 1.6rem;
  overflow-y: scroll;
  height: 40%;
}
.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2rem;
  position: relative;
}

.friends__header {
  font-weight: 600;
  font-size: 1.3rem;
  color: #6b6b6b;
}
.friend__header {
  font-weight: 600;
  color: $black;
  font-size: 1.8rem;
  &:hover{
    text-decoration: underline;

  }
}

.friend__image {
  height: 6rem;
  border-radius: 6rem;
}
.friend__more-button {
}

.feed {
  // height: 150vh;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searched-user {
  margin-top: 2rem;
  background: #ffffff;
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}
.searched-user__image {
}
.searched-user__link {
  color: rgb(0, 0, 0);
  font-size: 3rem;
}


.main{
  width: 70%;
  display: flex; 
  flex-direction: column;
}
.post-area{
  background: rgb(246, 246, 246);
  width: 100%;
  // height: 33vh;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  margin-bottom: 5rem;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19);
}
.post-area__header{
  font-size: 2.8rem;
  font-weight: 600;
  color: #1f1f1f;
  
}
.post-form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.text-area{

  
  
}
.text-area--post{
  font-size: 2rem;
  padding: 1rem;
  color: #444444;

}
.post-form__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0rem;


}
.input-group{
  display: flex;
  flex-direction: row-reverse;



}

.image-error-animation{
  animation: errorImage 1s ease;
}

.image-loaded-animation{
  animation: imageLoaded 1s ease forwards;
}

@keyframes imageLoaded{
  0%{
    transform: scale(1);
    color: #a3b7c1;

  }

  50%{
    transform: scale(.7);
  }
  100%{
    transform: scale(1);
    color: #143d51;
  }
}

@keyframes errorImage{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(30deg);
  }
  75%{
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.image-input__label{
  // #
  display: flex;
  align-items: center;
  margin-left: 1rem;
  

}
.button--comment{
font-weight: 500;
}
.comment__icon{
  font-size: 1.5rem;
  margin-right: .3rem;
}
.image-input__icon{
  color:#a3b7c1 ;
  // #
  font-size: 4rem;
  

}

.post-form__image-input{
  display: none;

}
.button--post{
  font-size: 1.8rem;
  align-self: center;
  font-weight: 600;

}
.post-form__letter-counter{
  font-size: 2.3rem;
  opacity: .7;
}



// picture modal


.picture-modal{
  display: none;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: #f6f6f6;
  box-shadow: 0 1rem 2rem hsla(0, 0%, 0%, 0.212), 0 .6rem .6rem hsla(0, 0%, 0%, 0.212);
}
.picture-modal__picture{
  width: 15vh;
  
}
.picture-modal__picture:hover{
  border: .5rem solid $primary-button-color;
  padding: .2rem;
  
}





















