body {
  padding: 0rem;
  margin: 0rem;
  background: #e9ebee;
  overflow-y: scroll; }

* {
  margin: 0rem;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

h1 {
  font-family: "Merienda", cursive; }

html {
  font-family: "Montserrat", sans-serif !important;
  font-size: 10px; }

a {
  text-decoration: none; }

.navbar {
  width: 100%;
  background: #003f61;
  display: flex;
  justify-content: space-between;
  padding: 1vh 6vw;
  align-items: center;
  height: 10vh; }

.header {
  display: flex;
  align-items: center; }

.header__text {
  color: white;
  font-size: 5rem;
  margin: 0rem 0rem 0rem .6rem; }

.login-form {
  display: flex; }

.input-container {
  display: flex;
  flex-direction: column;
  position: relative; }

.login-form__label {
  font-size: 2rem;
  color: white; }

.button--login {
  font-size: 2rem; }

.form-input {
  border: none;
  padding: 0.8rem 1.2rem; }

.margin--right {
  margin-right: 1.5rem; }

.margin--top {
  margin-top: 2.5rem; }

.button--secondary {
  color: #fff;
  background: #067DBD; }

.login-form__input {
  font-size: 1.8rem; }

.posts {
  display: flex;
  flex-direction: column; }

.post {
  display: flex;
  margin-bottom: 6rem;
  height: 55vh;
  position: relative; }

.post-user {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }

.post-content {
  width: 70%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19);
  height: 100%; }

.post-top {
  height: 25%;
  display: flex;
  padding: 1.5rem 3rem;
  align-items: center;
  background: #F6F6F6; }

.post-cont {
  text-align: left;
  width: 100%;
  margin-left: 3rem; }

.post-info-text {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.post-timestamp {
  margin: 0rem 2rem;
  font-size: 1.5rem;
  color: #c2c2c2; }

.post-username {
  display: inline;
  font-weight: 700;
  font-size: 3rem;
  color: #2e2e2e; }

.user-image--post {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  border: .3rem white solid; }

.post-text {
  font-size: 1.5rem;
  color: #494949;
  grid-column: 1/3; }

.post-image {
  width: 100%;
  height: 75%; }

.comments {
  width: 30%;
  padding: 0rem 2rem 2rem 2rem;
  overflow-y: scroll; }

.comments__header {
  margin-bottom: .5rem;
  font-size: 2.3rem;
  color: #1d1d1d;
  text-align: center; }

.comment {
  margin-top: 2rem;
  display: flex;
  position: relative; }

.comment-user {
  display: flex;
  flex-direction: column;
  align-items: center; }

.user-image--comment {
  border-radius: 90%;
  width: 3.5vw; }

.comment-user__name {
  font-size: 1.7rem;
  color: #1d1d1d;
  font-weight: 600; }

.comment__text {
  margin-left: 1rem;
  padding: 1rem 1rem 3rem 1rem;
  font-size: 1.3rem;
  border-radius: 5%;
  width: 100%;
  background: #fff;
  color: #1d1d1d;
  position: relative; }

.comment-form {
  position: relative;
  font-size: 2rem;
  width: 100%; }

.text-area--comment {
  padding: .5rem;
  width: 100%; }

.comment-form__bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse; }

.button--comment {
  padding: 1rem;
  font-weight: 600; }

.comment-form__letter-counter {
  font-size: 2rem; }

.button--comment--delete {
  background: none;
  display: inline; }

.delete-comment-form {
  display: inline;
  position: absolute;
  bottom: 0%;
  right: 0%; }

.button {
  border: none;
  outline: none;
  color: #fff;
  background: #e2e2e2;
  margin: 0rem;
  padding: 0.81rem 4rem;
  cursor: pointer;
  font-weight: 600; }

.button--clear {
  border: none;
  background: none;
  padding: 0rem;
  margin: 0rem;
  outline: none;
  cursor: pointer; }

.button--delete {
  background: none;
  font-weight: 600;
  padding: .2rem;
  border: none; }
  .button--delete:hover {
    text-decoration: underline; }

.register-form__header {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 1rem; }

.searched-user__image {
  height: 10vh; }

.login-main {
  display: flex;
  justify-content: space-evenly;
  background: #ebebeb;
  height: 83vh;
  align-items: center; }

button {
  display: flex;
  align-items: center; }

.button--logout {
  font-size: 2.2rem;
  font-weight: 500;
  background: #7291a1;
  color: #fff; }

.button--login {
  align-self: flex-end; }

.register-form {
  position: relative;
  background: #176d9b;
  height: 83vh;
  padding: 5vw; }

.register-form__label {
  font-size: 2.2rem;
  font-weight: 500;
  color: white; }

.register-form__input {
  font-size: 2rem; }

.button--secondary {
  background: #067DBD; }

.button--select {
  background: #a4b7c1;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  padding: .8rem 1.6rem;
  align-self: flex-start; }

.button--primary {
  background: #056494; }

.register-form__display-img {
  height: 25vh;
  width: 25vh;
  margin-top: 1rem;
  opacity: .65; }

.button--register {
  font-size: 3rem;
  padding: 1rem 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.212), 0 0.6rem 0.6rem rgba(0, 0, 0, 0.212);
  margin-top: 2rem;
  justify-self: center;
  background: #02324b; }

.search-form__input {
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700; }

.button--search {
  font-size: 2.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem; }

.search-form {
  display: flex; }

@keyframes textError {
  0% {
    transform: translateX(-70px); }
  20% {
    transform: translateX(70px); }
  30% {
    transform: translateX(0px); }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.button--add-friend {
  background: #83afc7;
  color: white;
  padding: .5rem 1rem; }
  .button--add-friend:hover {
    background: #5a8da9; }

.searched-user__befreind-icon {
  font-size: 3rem; }

.error {
  top: 100%;
  z-index: 100;
  left: 0%;
  font-size: 2rem;
  background: #f14141af;
  padding: .5rem;
  color: #fff;
  position: absolute;
  animation: textError 3s ease forwards; }

.footer {
  background: #384c56;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.footer__text {
  font-size: 1.5rem;
  color: #cecece; }

.logged-wrapper {
  width: 80%;
  max-width: 100%;
  margin: auto;
  margin-top: 8vh;
  display: flex;
  justify-content: space-between; }

.user-info {
  margin: 2rem 0rem; }

.user-info__header {
  font-size: 1.8rem; }

.user-info__text {
  font-size: 1.4rem; }

.user-profile {
  background: #f6f6f6;
  width: 22%;
  height: 75vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19); }

.user {
  height: 45%;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.more--post {
  align-self: center; }

.more {
  position: relative; }

.more-toggler {
  padding: .5rem;
  font-size: 2rem;
  color: #a3b7c1;
  cursor: pointer; }

.more-option {
  color: #1d1d1d;
  padding: .5rem 1rem;
  display: flex;
  justify-content: flex-start;
  font-size: 1.8rem;
  font-weight: 600; }
  .more-option:hover {
    color: #337599;
    text-decoration: underline;
    cursor: pointer; }

.more-toggler__icon {
  font-size: 3rem; }

.more-option__icon {
  margin-right: .8rem; }

.more-panel {
  position: absolute;
  top: 0%;
  right: 120%;
  background: #e4e4e4;
  padding: 1rem;
  display: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 5px 10px rgba(0, 0, 0, 0.19); }

.more--post {
  align-self: bottom; }

.more-panel--small {
  padding: .6rem;
  font-size: 1.5rem; }

.user__header {
  font-size: 4rem;
  font-weight: 600;
  color: #1d1d1d; }

.user__image {
  height: 65%;
  border-radius: 12rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 5px 10px rgba(0, 0, 0, 0.19); }

.friends {
  font-size: 1.6rem;
  overflow-y: scroll;
  height: 40%; }

.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2rem;
  position: relative; }

.friends__header {
  font-weight: 600;
  font-size: 1.3rem;
  color: #6b6b6b; }

.friend__header {
  font-weight: 600;
  color: #1d1d1d;
  font-size: 1.8rem; }
  .friend__header:hover {
    text-decoration: underline; }

.friend__image {
  height: 6rem;
  border-radius: 6rem; }

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.searched-user {
  margin-top: 2rem;
  background: #ffffff;
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem; }

.searched-user__link {
  color: black;
  font-size: 3rem; }

.main {
  width: 70%;
  display: flex;
  flex-direction: column; }

.post-area {
  background: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  margin-bottom: 5rem;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19); }

.post-area__header {
  font-size: 2.8rem;
  font-weight: 600;
  color: #1f1f1f; }

.post-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.text-area--post {
  font-size: 2rem;
  padding: 1rem;
  color: #444444; }

.post-form__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0rem; }

.input-group {
  display: flex;
  flex-direction: row-reverse; }

.image-error-animation {
  animation: errorImage 1s ease; }

.image-loaded-animation {
  animation: imageLoaded 1s ease forwards; }

@keyframes imageLoaded {
  0% {
    transform: scale(1);
    color: #a3b7c1; }
  50% {
    transform: scale(0.7); }
  100% {
    transform: scale(1);
    color: #143d51; } }

@keyframes errorImage {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(30deg); }
  75% {
    transform: rotate(-30deg); }
  100% {
    transform: rotate(0deg); } }

.image-input__label {
  display: flex;
  align-items: center;
  margin-left: 1rem; }

.button--comment {
  font-weight: 500; }

.comment__icon {
  font-size: 1.5rem;
  margin-right: .3rem; }

.image-input__icon {
  color: #a3b7c1;
  font-size: 4rem; }

.post-form__image-input {
  display: none; }

.button--post {
  font-size: 1.8rem;
  align-self: center;
  font-weight: 600; }

.post-form__letter-counter {
  font-size: 2.3rem;
  opacity: .7; }

.picture-modal {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: #f6f6f6;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.212), 0 0.6rem 0.6rem rgba(0, 0, 0, 0.212); }

.picture-modal__picture {
  width: 15vh; }

.picture-modal__picture:hover {
  border: 0.5rem solid #056494;
  padding: .2rem; }
