.posts {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0rem; }

.post {
  display: flex;
  margin-bottom: 6rem;
  height: 55vh; }

.post-user {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }

.post-content {
  width: 70%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19);
  height: 100%; }

.post-top {
  height: 25%;
  display: flex;
  padding: 1.5rem 3rem;
  align-items: center;
  position: relative;
  background: #F6F6F6; }

.post-cont {
  text-align: left;
  width: 100%;
  margin-left: 3rem; }

.post-info-text {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.post-timestamp {
  margin-left: 2rem;
  font-size: 1.5rem;
  color: #c2c2c2; }

.post-username {
  display: inline;
  font-weight: 700;
  font-size: 3rem;
  color: #2e2e2e; }

.user-image--post {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  border: .3rem white solid; }

.post-text {
  font-size: 1.5rem;
  color: #494949;
  grid-column: 1/3; }

.post-image {
  width: 100%;
  height: 75%; }

.comments {
  width: 30%;
  padding: 0rem 2rem 2rem 2rem;
  overflow-y: scroll; }

.comments__header {
  margin-bottom: .5rem;
  font-size: 2.3rem;
  color: #1d1d1d;
  text-align: center; }

.comment {
  margin-top: 2rem;
  display: flex; }

.comment-user {
  display: flex;
  flex-direction: column;
  align-items: center; }

.user-image--comment {
  border-radius: 90%;
  width: 3.5vw; }

.comment-user__name {
  font-size: 1.7rem;
  color: #1d1d1d; }

.comment__text {
  margin-left: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 5%;
  width: 100%;
  background: #fff;
  color: #1d1d1d; }

.comment-form {
  font-size: 2rem;
  width: 100%; }

.text-area--comment {
  padding: .5rem;
  width: 100%; }

.comment-form__bottom {
  display: flex;
  justify-content: space-between; }

.button--comment {
  padding: 1rem;
  font-weight: 600; }

.comment-form__letter-counter {
  font-size: 2rem; }
